body {
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  background-color: rgb(1, 13, 27);
  background-image: url('./IT.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  background-color:black;
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #00bcd4;
}
header h1 {
  margin: 0;
  font-size: 28px;
  color:rgb(0, 213, 255);
}
span{
  font-weight: bold;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}
nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color:white;
  font-weight: 600;
}
nav ul li a:hover,
nav ul li a.active {
  color:rgb(0, 229, 255);
  border-bottom: 2px solid rgb(0, 157, 255);
}
.intro h2{
  text-align: center;
}
.intro, .skills, form,.about,.interests {
  width: 70%;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.2); 
}
.skills ul, .interests ul {
  list-style: square;
  text-align: left;
  display: inline-block;
  margin: 10px auto;
}
.skills ol {
  text-align: left;
  display: inline-block;
  margin-top: 10px;
}
#name,#email,
textarea {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}
button {
  color: whitesmoke;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  background-color: aqua;
  width: 90px;
}
button:hover {
  background-color:rgb(0, 145, 255);
}
footer {
  background-color:black;
  padding: 15px;
  text-align: center;
  font-size: 14px;
  color:aliceblue;
  margin-top: 40px;
}
